doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Gulp4 - Demo
        link(rel='stylesheet' href='./styles/main.css')
    body
        h1 Gulp4 Demo
        h2 First Task Complete - SCSS, BrowserSync
        img(src='./images/apple-devices.jpg' alt='Apple Devices')
        br
        hr
        img(src='./images/mackBook.jpg' alt='MackBook')
        br
        hr
        h2
            a(href='about.html') About Page
