@import 'parts/default';
.calculationContainer {
    height: 5em;
    background-color: #fff;
    text-align: right;
    font-family: sans-serif;
    .calculation{
        font-size: 1.4em;
        height: 2em;
    }
    .result{
        font-size: 2em;
    }
}

.historyContainer {
    height: 3em;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    button {
        padding: 1em;
        font-size: 1.3em;
        img {
            max-width: 100%;
            position: relative;
        }
    }
    .plusMinus {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.5em;
    }
}