$primary-color: #e4e4e4;
body {
    background-color: $primary-color;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 50em;
}

* {
    box-sizing: border-box;
}

.titleContainer {
    background-color: $primary-color;
    height: 7vh;
    div {
        margin-top: 2vh;
        padding-left: 2vh;
        a {
            color: black;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 3vh;
        }
    }
}

.calculationContainer {
    height: 20vh;
    background-color: $primary-color;
    text-align: right;
    font-family: sans-serif;
    padding-right: 3vh;
    .calculation {
        font-size: 3vh;
        height: 2em;
    }
    .result {
        font-size: 5.5vh;
        font-weight: bold;
    }
}

.historyContainer {
    height: 3em;
}

.buttonContainer {
    display: grid;
    height: 72.8vh;
    grid-template-columns: 25% 25% 25% 25%;
    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .zero {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .clear {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    button {
        padding: 2vh;
        font-size: 4vh;
        margin: .2vh;
        background-color: #EEEEEE;
        border: none;
        transition: .1s ease-in;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background-color: #e0e0e0;
            box-shadow: 0 0 3px #4d4d4d;
            background-color: #ebebeb;
            border: none;
        }
        &:focus {
            outline: 0;
        }
        img {
            max-width: 100%;
            position: relative;
        }
    }
    .plusMinus {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.5em;
    }
    .numButton {
        font-weight: bold;
        background-color: #fafafa;
    }
    .operationButton {
        &:active {
            background-color: #3b5fff;
            color: white;
            background-color: #839aff;
        }
    }
}

.btnStyle {
    border-color: #4d4d4d;
    box-shadow: 0 0 3px #4d4d4d;
}

.checkBtn{
    display: none;
    position: absolute;
    right: 4vh;
    cursor: pointer;
    padding: .5em;
    background-color: $primary-color;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px black;
    &:hover{
        background-color: #fff;
    }
}